.block {
  width: 200px;
  height: 200px;
  background: linear-gradient(#30c0e1, #5dedd5);
  background-clip: text;
  color: transparent;
  line-height: 200px;
  font-size: 180px;
}

.title {
  color: red;
}